<h1>General Terms of Service</h1>

<h2>User Agreement | Terms of Service</h2>

<p>This document (The "User Agreement") is legally binding and governs your use of the Legably website and all related web and mobile services including those from third parties that are incorporated or used in conjunction with the Legably website or service. A breach or violation of any of the Account Terms will result in an immediate temrination of your services at the sole discretion of Legably.</p>

<h4>ACCEPTANCE</h4>

<p>By using the Legably website and related services you agree to be bound by the terms of this User Agreement. You also agree that Legably is not a law firm or referral service and NOTHING ON THIS SITE IS TO BE CONSTRUED AS LEGAL ADVICE FROM LEGABLY.</p>

<h4>CHANGES TO USER SERVICES</h4>

<p>Legably’s User Agreement will change and evolve. Legably reserves the right to make these changes at our sole discretion and without notice. The most current version of our User Agreement will always be located here, under the Terms of Service section of our website. Please check these terms often for updates. By continuing to use the Legably web service, you consent to the changes.</p>

<p>To use this service you must be:</p>
<ul>
<li>18+ years old.</li>
<li>An attorney admitted to practice in good standing with your respective bar or a legal professional in good standing wishing to use this service to find contract-based work in accordance with this User Agreement.</li>
</ul>
OR

<ul>
<li>A law firm, legal department, or business entity that wishes to retain legal professionals on a contract basis through Legably unless additional permissions are granted by Legably.</li>
</ul>

<p>And you must:</p>

<ul>
<li>Provide your full legal name, a valid email address, your valid attorney identification information where applicable and any other information requested in order to complete the signup process accurately.</li>
<li>Accurately and proactively report any previous, current or pending disciplinary action.</li>
<li>Use only a single username and password ("login"). You cannot share an account.</li>
<li>Keep your password secure—Legably cannot and will not be liable for any loss or damage from your failure to maintain the security of your account and password.</li>
<li>Notify Legably immediately if you suspect any security breaches to your account or the Legably system.</li>
<li>Be responsible for all activity and content (data, graphics, photos, links) that is uploaded under your Service account.</li>
<li>Read, understand, agree to and abide by all parts of this User Agreement.</li>
<li>Perform obligations as specified by this agreement and agreements that you enter into through this website when not in conflict with this user agreement or prohibited by law.</li>
<li>Represent and warrant that your User Content and Legably’s use thereof in the context of this agreement and the Site will not infringe upon the Intellectual Property Rights, Privacy Rights or Publicity rights of any third party.</li>
<li>Represent and warrant that you have the written consent of each and every identifiable natural person in the User Content to use such person’s name or likeness in the manner contemplated by the Site and this Agreement, and each such person has released you from any liability that may arise in relation to such use.</li>
</ul>

<p>While using this service you MAY NOT:</p>

<ul>
<li>Be a recruiter, including attorneys that are engaged in the businesses of staffing employees, or otherwise a third party to the retaining or hiring of attorneys unless expressly permitted by Legably. Legal actions and damages will be pursued for violations of this term.</li>
<li>Register and explore the software service for the purpose of reproducing, replicating, or otherwise copying the software service and business model. Legal actions and damages will be pursued for violations of this term.</li>
<li>Be an attorney disbarred for disciplinary action.</li>
<li>Upload, post, host or transmit unsolicited e-mail, SMS, Instant Messenger, Twitter or other "spam" messages.
<li>Transmit worms or viruses or any other code of a destructive nature.</li>
<li>Reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by Legably.</li>
<li>Use this service for any illegal or unauthorized purpose.</li>
</ul>

<p>Legably reserves the right in its sole discretion to refuse, suspend, or terminate service to anyone for any reason or no reason.</p>

<p>Legably is NOT a law firm or a referral service.</p>

<p>Legably is a software as a service [SaaS] product designed to monitor, manage, and pay for legal work and legal costs. This service may be used with or exclusive of the freelance job board. Legably makes no representations or endorsements of attorneys registered with the system accessible through the job board, nor does Legably interfere, direct, or otherwise supervise the interaction between job posters and attorneys responding to them. Any attorney with an active bar license may register with Legably. Attorneys do not pay or share any fees to use Legably. NOTHING ON THIS SITE SHALL BE CONSTRUED AS LEGAL ADVICE FROM LEGABLY. LEGABLY IS NOT AUTHORIZED TO PROVIDE LEGAL ADVICE.</p>

<p>To confirm and activate your account as a law firm, business entity or lawyer you will be asked to agree to a registered user Terms of Service governing the terms and use of the software as a service available to registered users. The registered user agreement and date of agreement will be stored and accessible to you in your account profile.</p>

<h4>NOTICES AND COMMUNICATIONS</h4>

<p>Digital Millennium Copyright Act [DCMA]</p>

<p>If you believe in good faith that any content on the Site infringes your Intellectual Property Rights (including trademarks, logos and other rights, except copyright rights, which are described above) please (a) describe in detail the Intellectual Property Rights that you believe are infringed, (b) describe in detail the particular content that you believe infringes your Intellectual Property Rights, (c) provide us your name, address, email address, and phone number, and (d) notify Legably per the directions in the Notices and Communications Section below.</p>

<p>Please note that this procedure is exclusively for notifying Legably and its affiliates that your Intellectual Property Rights may have been infringed. Legably has adopted a policy of terminating, in appropriate circumstances and at Legably’s sole discretion, members who are deemed to be repeat infringers. Legably may also at its sole discretion limit access to the Site and/or terminate the accounts of any Users who infringe any Intellectual Property Rights of others, whether or not there is any repeat infringement.</p>

<h5>Communications from Legably to you:</h5>

<p>Unless you otherwise indicate in writing to Customer Support, Legably will communicate with you by email or by posting communications on the Site. You consent to receive communications from us electronically and you agree that these electronic communications satisfy any legal requirement that such communications be in writing. You will be considered to have received communication when Legably sends it to the email address you have provided to Legably on the Site, or when Legably posts such communication on the Site. You must keep your email address updated on this Site and you must regularly check this Site for postings. If you fail to respond to an email message from Legably regarding violation, dispute or complaint within two business days, Legably has the right to terminate or suspend your Job or your Account.</p>

<h5>Communications from you to Legably:</h5>

<p>All notices to Legably intended to have a legal effect concerning this Agreement must be in writing and delivered either in person or by a means evidenced by a delivery receipt, to the following address:</p>

Legably, Inc.<br>
2 Regency Plaza, Suite 410W<br>
Providence, RI 02903<br><br>

<p>Such notices to Legably, Inc. are deemed effective upon receipt.</p>
