<p>
  <h1>Welcome to Legably!</h1>
  <h3>Here's where some catchy marketing text would go to make lawyers or firms want to sign up.</h3>
  <hr>
</p>
<div id="tabs" class="container">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#1" data-toggle="tab">Lawyer Sign Up</a>
    </li>
    <li>
      <a href="#2" data-toggle="tab">Firm Sign Up</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="1">
      <div>
        <p>
          <br>
          <%= text_input(:user, :first_name, placeholder: "First Name") %>
          <%= text_input(:user, :last_name, placeholder: "Last Name") %>
          <%= text_input(:user, :phone, placeholder: "Phone (optional)") %>
        </p>
        <p>
          <%= text_input(:user, :email_address, placeholder: "Email Address") %>
          <%= text_input(:user, :password, placeholder: "Password") %>
          <%= text_input(:user, :password, placeholder: "Confirm Password") %>
        </p>
        <p>
          <%= text_input(:user, :bar_id, placeholder: "Bar ID") %>
          <%= text_input(:user, :bar_state, placeholder: "State Barred In") %>
        </p>
      </div>
    </div>
    <div class="tab-pane" id="2">
      <p>
        <br>
        <%= text_input(:user, :first_name, placeholder: "First Name") %>
        <%= text_input(:user, :last_name, placeholder: "Last Name") %>
        <%= text_input(:user, :phone, placeholder: "Phone (optional)") %>
      </p>
      <p>
        <%= text_input(:user, :email_address, placeholder: "Email Address") %>
        <%= text_input(:user, :password, placeholder: "Password") %>
        <%= text_input(:user, :password, placeholder: "Confirm Password") %>
      </p>
      <p>
        <%= text_input(:user, :firm_name, placeholder: "Firm Name") %>
        <%= text_input(:user, :area_of_focus, placeholder: "Area of Focus") %>
      </p>
      <p>
        <%= text_input(:user, :street_address_1, placeholder: "Street Address 1") %>
        <%= text_input(:user, :street_address_2, placeholder: "Street Address 2") %>
      </p>
      <p>
        <%= text_input(:user, :city, placeholder: "City") %>
        <%= text_input(:user, :state, placeholder: "State") %>
        <%= text_input(:user, :zip, placeholder: "Zip") %>
      </p>
    </div>
  </div>
</div>
<hr>
<%= submit "Sign Up", class: "btn btn-primary" %><nbsp>
<label><input type="checkbox" value=""> Agree to</label>
<%= link("Terms & Conditions", to: "/terms") %><nbsp>
and aware of
<%= link("Privacy Policy", to: "/privacy") %>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
