<p>
  <h1>Welcome to Legably!</h1>
  <h3>Here's where some catchy marketing text would go to make lawyers or firms want to sign up.</h3>
  <hr>
</p>

<%= if @changeset.action do %>
  <div class="alert alert-danger">
    <p>Oops, something went wrong! Please check the errors below.</p>
  </div>
<% end %>

<%= form_for @changeset, page_path(@conn, :create), [id: "main_form"], fn f -> %>
<div id="tabs" class="container">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#lawyer-sign-up" data-toggle="tab">Lawyer Sign Up</a>
    </li>
    <li>
      <a href="#firm-sign-up" data-toggle="tab">Firm Sign Up</a>
    </li>
    <!--<li>
      <a href="#both-sign-up" data-toggle="tab">Lawyer/Firm Sign Up</a>
    </li>-->
  </ul>

  <div class="tab-content">
    <div> <!-- These fields appear on every tab -->
      <p>
        <br>
        <%= text_input f, :first_name, placeholder: "First Name" %>
        <%= text_input f, :last_name, placeholder: "Last Name" %>
        <%= text_input f, :phone, placeholder: "Phone (optional)" %>
      </p>
      <p>
        <%= text_input f, :email, placeholder: "Email Address" %>
        <%= text_input f, :password, placeholder: "Password" %>
        <%= text_input f, :password, placeholder: "Confirm Password" %>
      </p>
    </div>
    <div class="tab-pane active" id="lawyer-sign-up">
      <p>
        <%= text_input f, :bar_id, placeholder: "Bar ID" %>
        <%= text_input f, :bar_state, placeholder: "State Barred In" %>
      </p>
    </div>
    <div class="tab-pane" id="firm-sign-up">
      <p>
        <%= text_input f, :firm_name, placeholder: "Firm Name" %>
        <%= text_input f, :area_of_focus, placeholder: "Area of Focus" %>
      </p>
      <p>
        <%= text_input f, :street_address_1, placeholder: "Street Address 1" %>
        <%= text_input f, :street_address_2, placeholder: "Street Address 2" %>
      </p>
      <p>
        <%= text_input f, :city, placeholder: "City" %>
        <%= text_input f, :state, placeholder: "State" %>
        <%= text_input f, :zip, placeholder: "Zip" %>
      </p>
    </div>
    <!-- <div class="tab-pane" id="both-sign-up">
      <p>
        <%= text_input f, :bar_id, placeholder: "Bar ID" %>
        <%= text_input f, :bar_state, placeholder: "State Barred In" %>
      </p>
      <p>
        <%= text_input f, :firm_name, placeholder: "Firm Name" %>
        <%= text_input f, :area_of_focus, placeholder: "Area of Focus" %>
      </p>
      <p>
        <%= text_input f, :street_address_1, placeholder: "Street Address 1" %>
        <%= text_input f, :street_address_2, placeholder: "Street Address 2" %>
      </p>
      <p>
        <%= text_input f, :city, placeholder: "City" %>
        <%= text_input f, :state, placeholder: "State" %>
        <%= text_input f, :zip, placeholder: "Zip" %>
      </p>
    </div>-->
  </div>
</div>
<hr>
<% end %>

<input type="checkbox" id="accept_terms_privacy"> Accept
  <%= link "Terms & Conditions", to: "/terms" %> and
  <%= link "Privacy Policy", to: "/privacy" %></input>
<br><br>
<input type="submit" id="signup" value="Sign Up" disabled="disabled" class="btn btn-primary">
<!-- <%= submit "Sign Up", class: "btn btn-primary", disabled: "disabled", id: "signup" %><nbsp> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('#accept_terms_privacy').click(
    function() {
      if($(this).attr('checked') == false) {
        $('#signup').attr("disabled", "disabled");
      } else {
        $('#signup').removeAttr('disabled');
      }
    });
});

var tabType = "lawyer";
$('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
  var target = $(e.target).attr("href") // activated tab
  switch(target) {
    case "#lawyer-sign-up":
      tabType = "lawyer";
      break;
    case "#firm-sign-up":
      tabType = "firm";
      break;
    case "#both-sign-up":
      tabType = "both";
      break;
  }
});
</script>
